[project]
	description = Project for testing Code Review Hub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/renjithmj
[access "refs/for/refs/*"]
	read = group user/renjithmj
	push = group user/renjithmj
	label-Code-Review = -2..+2 group user/renjithmj
	label-Verified = -1..+1 group user/renjithmj
	rebase = group user/renjithmj
	removeReviewer = group user/renjithmj
	submit = group user/renjithmj
[access "refs/heads/*"]
	read = group user/renjithmj
	create = group user/renjithmj
	push = +force group user/renjithmj
	pushMerge = group user/renjithmj
[access "refs/tags/*"]
	push = +force group user/renjithmj
	pushTag = group user/renjithmj
	pushSignedTag = group user/renjithmj
